<div class="container" ng-controller="teachController">
    <div class="row">
        <div id="content" class="col-sm-12" >
            <div class="module tab-slider titleLine">
                <h3 class="modtitle">热门推荐</h3>
                <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
                    <div class="loadeding"></div>
                    <div class="ltabs-wrap">
                        <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                            <!--Begin Tabs-->
                            <div class="ltabs-tabs-wrap">
                                <span class="ltabs-tab-selected">主打</span> <span class="ltabs-tab-arrow">▼</span>
                                <div class="item-sub-cat">
                                    <ul class="ltabs-tabs cf">
                                        <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">主打</span> </li>
                                     </ul>
                                </div>
                            </div>
                            <!-- End Tabs-->
                        </div>
                        <div class="ltabs-items-container">
                            <!--Begin Items-->
                            <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
                                <div class="ltabs-items-inner ltabs-slider ">
                                    <div class="ltabs-item product-layout" style="width: 270.75px; margin-right: 20px;" ng-repeat="book in bookList1">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                                <span class="label label-new">主打</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a ng-bind="book.bookName" ui-sref="book({id:book._id})" ng-click="clickBook"></a></h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        </div>
                                                    </div>

                                                    <div class="price">
                                                        <span class="price-new">￥<span ng-bind="book.new_price"></span>.00</span>
                                                    </div>
                                                </div>

                                                <div class="button-group">
                                                    <button class="addToCart" type="button" data-toggle="tooltip" title="加入购物车" ng-click="addCart(book._id)"><i class="fa fa-shopping-cart"></i> <span class="">添加到购物车</span></button>
                                                    <button class="wishlist" type="button" data-toggle="tooltip" title="加入心愿单" onclick="wishlist.add('42');" ng-click="addWish(book._id)"><i class="fa fa-heart"></i></button>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Items-->
                    </div>

                </div>
            </div>
            <div class="module tab-slider titleLine">
                <h3 class="modtitle">新品上市</h3>
                <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
                    <div class="loadeding"></div>
                    <div class="ltabs-wrap">
                        <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                            <!--Begin Tabs-->
                            <div class="ltabs-tabs-wrap">
                                <span class="ltabs-tab-selected">主打</span> <span class="ltabs-tab-arrow">▼</span>
                                <div class="item-sub-cat">
                                    <ul class="ltabs-tabs cf">
                                        <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">主打</span> </li>
                                      </ul>
                                </div>
                            </div>
                            <!-- End Tabs-->
                        </div>
                        <div class="ltabs-items-container">
                            <!--Begin Items-->
                            <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
                                <div class="ltabs-items-inner ltabs-slider ">
                                    <div class="ltabs-item product-layout" style="width: 270.75px; margin-right: 20px;" ng-repeat="book in bookList2">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                    <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                                </div>
                                                <span class="label label-new">主打</span>
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a ng-bind="book.bookName" ui-sref="book({id:book._id})" ng-click="clickBook"></a></h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        </div>
                                                    </div>

                                                    <div class="price">
                                                        <span class="price-new">￥<span ng-bind="book.new_price"></span>.00</span>
                                                    </div>
                                                </div>

                                                <div class="button-group">
                                                    <button class="addToCart" type="button" data-toggle="tooltip" title="加入购物车" ng-click="addCart(book._id)"><i class="fa fa-shopping-cart"></i> <span class="">添加到购物车</span></button>
                                                    <button class="wishlist" type="button" data-toggle="tooltip" title="加入心愿单" onclick="wishlist.add('42');" ng-click="addWish(book._id)"><i class="fa fa-heart"></i></button>
                                                </div>
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Items-->


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>