
<link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
<style>
    li{
        list-style-type:none;
    }
    .settlement button{
        margin-left: 5%;
    }
    .w960{
        width: 960px;
        margin: 0 auto;
    }
    .shopping_procedure{
        float: right;
        width: 634px;
        height: 36px;
        background: url(../imgs/shoppingcart/bg2.png) 0 0 no-repeat;
        font: bold 14px/36px "Microsoft Yahei";
        color: #646464;
        margin:0;
    }
    .current{
        color: #fff;
        width: 206px;
    }
    .shopping_procedure span {
        width: 211px;
        display: inline-block;
        text-align: center;
    }
    .logo{
        margin-top: 20px;
    }
    .totalCount{
        color: red;
        font-weight: bolder;
    }
    .receiverInfo ,.payMethod{
        margin-left: 10%;
    }
    .returnCart{
        margin-left: 80%;
    }
    .splitLine{
        margin-right: 20%;
        color:black
    }
    .payUl{
        padding-left: 0px;
    }
    .payUl li{
        margin-bottom: 20px;
    }
    .payUl li button{
        width: 20%;
    }
    .settlement{
        background-color: #F0F0F0;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 55%;
        margin-left: 10%;
    }
    .settlement button{
        margin-left: 5%;
    }
    .addressSpan{
        margin-right: 30px;
    }
    .delAddress{
        float: right;
        margin-top: -6px;
    }
    .payBtn{
        margin-left: 10px;
    }
</style>
<div class="container" ng-controller="checkoutBCController">
    <div class="row">
        <div class="w960">
            <div class="shopping_procedure">
                <span>我的购物车</span>
                <span class="current">填写订单</span>
                <span style="float:right;margin-top: -35px">完成订单</span>
            </div>
        </div>

        <!--收货人信息-->

        <div class="col-md-12 receiverInfo">
            <h3>收货人信息</h3>
            <hr class="splitLine">
            <!--列表信息-->
            <div class="receiverUl col-md-10">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning" ng-repeat="(i, item) in transport">
                        <input type="radio" name="address" ng-checked="i==0">
                        <span class="addressSpan">{{item.name}}</span>
                        <span class="addressSpan">{{item.phone}} </span>
                        <span class="addressSpan">{{item.address}}</span>
                        <button class="btn btn-danger delAddress" ng-click="delAddress(item._id)">删除</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
            <button type="button" class="btn btn-default " data-toggle="modal" data-target="#newModal">
                +新增收货地址
            </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">收货人信息</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="receriverName" class="control-label">收货人姓名:</label>
                                    <input type="text" class="form-control" id="receriverName" ng-model="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="control-label">电话号码:</label>
                                    <input class="form-control" id="phone" ng-model="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="control-label">所在地区:</label>
                                    <textarea class="form-control" id="address" ng-model="address" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="addTransport()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--返回购物车-->
        <a type="button" class="btn btn-primary returnCart" ui-sref="shoppingCart">
            返回购物车
        </a>

        <!--支付方式-->
        <div class="col-md-12 payMethod">
            <h3>支付方式</h3>
            <hr class="splitLine">
            <ul class="payUl">
                <li><input type="radio" name="pay" checked><button class="btn btn-info payBtn">支付宝支付</button></li>
                <li><input type="radio" name="pay"><button class="btn btn-success payBtn">微信支付</button></li>
            </ul>
        </div>

        <!--结算-->
        <div class="col-md-10 settlement">
            共<span class="totalCount" ng-bind="num"></span>件商品，
            总计：<span class="totalCount">￥<span ng-bind="money"></span>.00</span>
            <button class="btn btn-danger" ng-click="toPay()">提交订单</button>
        </div>

    </div>

    <!--智能推荐-->
    <div class="col-md-12" style="margin-top: 20px">
        <div class="module tab-slider titleLine">
            <h3 class="modtitle">猜你喜欢</h3>
            <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
                <div class="loadeding"></div>
                <div class="ltabs-wrap">
                    <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="#" data-type_source="0">
                        <!--Begin Tabs-->
                        <div class="ltabs-tabs-wrap">
                            <div class="item-sub-cat">
                                <ul class="ltabs-tabs cf">
                                    <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">推荐</span> </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Tabs-->
                    </div>
                    <div class="ltabs-items-container">
                        <!--Begin Items-->
                        <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
                            <div class="ltabs-items-inner ltabs-slider ">
                                <div class="ltabs-item product-layout" style="width: 264px; margin-right: 13px;" ng-repeat="book in books">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img-responsive" />
                                                <img ng-src="{{book.book_photo}}"  alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                            </div>
                                            <span class="label label-new">推荐</span>
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4><a ng-bind="book.bookName" ui-sref="book({id:book._id})" ng-click="clickBook"></a></h4>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    </div>
                                                </div>

                                                <div class="price">
                                                    <span class="price-new">￥<span ng-bind="book.new_price"></span>.00</span>
                                                </div>
                                            </div>

                                            <div class="button-group">
                                                <button class="addToCart" type="button" data-toggle="tooltip" title="加入购物车" onclick="cart.add('42', '1');" ng-click="addCart(book._id)"><i class="fa fa-shopping-cart"></i> <span class="">添加到购物车</span></button>
                                                <button class="wishlist" type="button" data-toggle="tooltip" title="加入心愿单" onclick="wishlist.add('42');" ng-click="addWish(book._id)"><i class="fa fa-heart"></i></button>
                                            </div>
                                        </div><!-- right block -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End Items-->


                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>